body,
html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url("/img/welcome.jpg");

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}